{% layout "game.liquid" %}

{% assign name = 'BlackJack' %}
{% assign gameType = 'blackjack' %}

{% capture game-parts %}
  <div  id="screen-holder" class="text-center container">
    <canvas id="screen" width=800 height=600 style="width: 100%; max-width: 800px;"></canvas>
  </div>
  <div class="row text-center">
    <div class="col-sm">
      <button id="hit" type="button" class="btn btn-primary btn-lg btn-block">Hit</button>
    </div>
    <div class="col-sm">
      <button id="stand" type="button" class="btn btn-primary btn-lg btn-block">Stand</button>
    </div>
  </div>
{% endcapture %}

{% block page_js %}
<script src="js/common.js"></script>
<script src="js/blackjack.js"></script>
{% endblock %}
