{% layout "game.liquid" %}

{% assign name = 'BlackJack' %}

{% block game-parts %}
  <div id="game-parts">
    <canvas id="screen" class="canvas"></canvas>
    <button id="hit">Hit</button>
    <button id="stand">Stand</button>
  </div>
{% endblock %}

{% block game_js %}
  <script src="js/blackjack.js"></script>
{% endblock %}
