{% layout "game.liquid" %}

{% assign name = 'BlackJack' %}

{% capture game-parts %}
  <canvas id="screen" class="canvas"></canvas>
  <button id="hit">Hit</button>
  <button id="stand">Stand</button>
{% endcapture %}

{% block page_js %}
<script src="js/blackjack.js"></script>
<script src="js/common.js"></script>
{% endblock %}
