<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>Velha21 {% if name %}· {{name}} {% endif %}</title>

        <link rel="canonical" href="https://velha21.herokuapp.com/">

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles -->
        <link href="css/main.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">A collection of games to play online.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/yds12/velha21" class="text-white">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <svg class="bi bi-puzzle" width="20" height="20" viewBox="0 0 16 16" fill="currentColor" stroke-width="2"  aria-hidden="true"  xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" clip-rule="evenodd"/>
                        </svg>
                        <strong>Velha21</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
            </div>
        </header>
        <main role="main">
        {% block main %}
        {% endblock %}
        </main>
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <p>Velha21 website!</p>
                <p>Contribute at our <a href="https://github.com/yds12/velha21">github project</a>.</p>
            </div>
        </footer>
        <script src="js/lib/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.js"></script>
        <script src="js/config.js"></script>
        {% block page_js %}{% endblock %}
        <script src="js/lib/jquery-3.5.1.slim.min.js"></script>
        <script src="js/lib/bootstrap.js"></script>
    </body>
</html>
