{% layout "default.liquid" %}

{% block main %}
  <div id="enter-table-box" class="container text-center" >
    <form id="enter-table-form" class="form-enter-table text-left">
      <h1 class="h3 mb-3 font-weight-normal">
        Choose your nickname
      </h1>
      <div>
        <label for="enter-player-name">
          Nickname:
        </label>
        <input id="enter-player-name"  type='text' maxlength="10" class="form-control" required autofocus>
      </div>
      <div>
        <label for="enter-table-id">
          Table:
        </label>
        <input id="enter-table-id"  type='text' maxlength="10"  class="form-control">
      </div>
      <p id='enter-table-error-message' class=" text-muted"> </p>
      <button id="enter" class="btn btn-lg btn-primary btn-block" type="submit">
        Enter Table
      </button>
    </form>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div id="game-box">
        <div id="game-parts">
          {{game-parts}}
        </div>
        <div>
          <button id="start">Start</button>
          <button id="clear">Restart</button>
          <a href="/">leave table</a>
        </div>
        <div id="players"></div>
        <div id="messages-window">
          <div id="messages"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
