{% layout "default.liquid" %}

{% block main %}
  <div id="enter-table-box" class="container text-center my-4" >
    <form id="enter-table-form" class="form-enter-table text-left">
      <h1 class="h3 mb-3 font-weight-normal">
        Choose your nickname
      </h1>
      <div class="form-group">
        <label for="enter-player-name">
          Nickname:
        </label>
        <input id="enter-player-name" maxlength="10" class="form-control" required autofocus>
      </div>
      <div class="form-group">
        <label for="enter-table-id">
          Table:
        </label>
        <input id="enter-table-id" maxlength="10"  class="form-control">
      </div>
      <div class="form-group  form-check" >
        <input id="enter-table-observer"  type='checkbox' class="form-check-input">
        <label for="enter-table-observer" class="form-check-label">
          Observer
        </label>
      </div>
      <p id='enter-table-error-message' class=" text-muted"> </p>
      <button id="enter" class="btn btn-lg btn-primary btn-block" type="submit">
        Enter Table
      </button>
    </form>
  </div>

  <div id="game-box" class="container my-4">
    <div class="card">
      <div class="card-header">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button id="start" class="btn btn-primary">Start</button>
          </li>
          <li class="nav-item">
            <button id="clear" class="btn btn-secondary">Restart</button>
          </li>
          <li class="nav-item">
            <a href="/" type="button" class="btn btn-secondary mx-2">Exit</a>
          </li>
        </ul>
      </div>

      <div id="game-parts" class="card-body p-4">
        {{game-parts}}
      </div>

      <div class="card-body">
        <div id="players">

        </div>
        <div id="messages-window">
          <div id="messages"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
