{% layout "game.liquid" %}

{% assign name = 'Tic-tac-toe' %}
{% assign gameType = 'tictactoe' %}

{% capture game-parts %}
  <div id="screen-holder" class="text-center container">
    <canvas id="screen" width=400 height=400 style="width: 100%; max-width: 400px;">
    </canvas>
  </div>
{% endcapture %}

{% block page_js %}
<script src="js/common.js"></script>
<script src="js/tictactoe.js"></script>
{% endblock %}
