{% layout "game.liquid" %}

{% assign name = 'Tic-tac-toe' %}
{% assign gameType = 'tictactoe' %}

{% capture game-parts %}
  <div class="text-center">
    <canvas id="screen" class="canvas">
    </canvas>
  </div>
{% endcapture %}

{% block page_js %}
<script src="js/tictactoe.js"></script>
<script src="js/common.js"></script>
{% endblock %}
